<meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Luachi (Lightweight and very simple lua framework)">
    <meta name="description" content="{{description}}">
    <meta name="author" content="Díaz Urbaneja Víctor Eduardo Diex">
