<label for="">Jump to:</label>
						        <select onchange="window.location.href=this.value">
						            <optgroup label="Menu">
						                <option value="/dashboard" {{menu_dashboard}}>Dashboard</option>
						                <option value="/users/new" {{menu_new_user}}>New user</option>
						                <option value="/users" {{menu_users}}>Users</option>
						            </optgroup>
						        </select>
