<nav>
	    <div class="nav-container">
	        <div class="nav-logo">
	            <a href="/">Luachi</a>
	        </div>
	        <ul class="nav-links">
	            <li><a>{{username}}</a></li>
	            <li><a href="/logout">Logout</a></li>
	        </ul>
	        <a class="mobile-menu-toggle"></a>
	        <ul class="mobile-menu menu">
	            <li><a href="/logout">Logout</a></li>
	        </ul>
	    </div>
	</nav>
