<!DOCTYPE html>
<html lang="es">
<head>
    {(public/common/meta.html)}
    {% if ( type(css) == 'table' ) then %}
    {% for _, v in ipairs(css) do %}
    <link rel="stylesheet" href="{*v*}">
    {% end %}
    {% else %}
    <link rel="stylesheet" href="{*css*}">
    {% end %}
</head>
<body>
    {(public/common/nav.html)}
    {(public/common/header.html)}
	<section>
	    {*view*}
    </section>
    {(public/common/footer.html)}
    {% if ( type(js) == 'table' ) then %}
    {% for _, v in ipairs(js) do %}
    <script type="text/javascript" src="{*v*}"></script>
    {% end %}
    {% end %}
</body>
</html>
